.btn {
  padding: 10px 20px;
  border: 1px solid @greyDark;
  cursor: pointer;
  border-radius: 4px;
  color: @greyDark;
  transition: color .3s linear, background .3s linear;
  &:hover {
    background: @greyDark;
    color: @white;
  }
}
