.lecture {
  display: flex;

  min-width: 320px;
  margin-bottom: 20px;
  padding: 10px 20px;

  color: @white;
  border-radius: 4px;

  flex-wrap: wrap;
  align-items: baseline;
  @media @tablet-widths {
    padding: 20px 25px;
  }
  @media @desktop-widths {
    flex-direction: row;

    margin-bottom: 0;

    color: @blueDark;
    border-bottom: 1px solid @blue;
    border-radius: 0;

    align-items: baseline;
  }

  @media @tablet-width-only {
    &.lecture--frontend {
      background: @frontend;
    }
    &.lecture--design {
      background: @design;
    }
    &.lecture--mobdev {
      background: @mobdev;
    }
    &.lecture--mobdev.lecture--frontend, &.lecture--mobdev.lecture--design, &.lecture--frontend.lecture--design, &.lecture--mobdev.lecture--design.lecture--frontend {
      background: @greyDark;
    }
  }
}

.lecture--completed .lecture__lection {
  text-decoration: line-through;
}

.lecture__header {
  display: flex;

  margin-bottom: 15px;
  @media @desktop-widths {
    flex-direction: column;

    width: 10%;
    margin-right: 10px;
    margin-bottom: 0;

    align-items: flex-start;
  }
}

.lecture__streams {
  font-size: 12px;
  font-weight: 100;

  margin: 0;
  margin-right: 10px;
  padding: 1px 5px;

  text-align: center;

  opacity: .7;
  border: 1px solid currentColor;
  border-radius: 2px;
  @media @tablet-widths {
    font-size: 14px;
  }
  @media @desktop-widths {
    font-size: 18px;

    margin-bottom: 10px;

    opacity: 1;
    color: @white;
    border: none;
    &.lecture__streams--frontend {
      background: @frontend;
    }
    &.lecture__streams--design {
      background: @design;
    }
    &.lecture__streams--mobdev {
      background: @mobdev;
    }
  }
}

.lecture-main {
  margin-bottom: 10px;
}

.lecture__lection {
  font-size: 16px;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 5px;
  @media @tablet-widths {
    font-size: 18px;
  }
  @media @desktop-widths {
    font-size: 22px;

    margin-right: 0;
    padding-right: 25px;
  }
}

.lecture__teacher {
  font-size: 15px;
  font-weight: 100;
  font-style: italic;

  margin-bottom: 15px;
  padding-bottom: 1px;

  text-decoration: none;

  color: @white;
  border-bottom: 1px dashed currentColor;
  @media @tablet-widths {
    font-size: 16px;
  }
  @media @desktop-widths {
    width: 15%;
    margin-right: 20px;

    text-align: left;

    color: @blueDark;
  }
}

.lecture__wrap {
  font-weight: bold;

  align-self: flex-end;
  @media @desktop-widths {
    font-weight: normal;

    width: 10%;
    padding-right: 10px;

    order: -1;
    align-self: baseline;
  }
}

.lecture__location {
  width: 50%;
  margin-left: auto;

  text-align: right;
  align-self: flex-end;
  @media @desktop-widths {
    width: 15%;
    padding-left: 10px;

    align-self: flex-end;
  }
}

.lecture--completed .materials {
  display: flex;
}
