.school__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  min-width: 320px;
  border-radius: 4px;
  color: @white;
  @media @tablet-widths {
    padding: 20px 25px;
  }
  @media @desktop-widths {
    flex-direction: row;
    color: @blueDark;
    align-items: baseline;
    border-bottom: 1px solid @blue;
    border-radius: 0px;
    margin-bottom: 0;
  }
  @media @tablet-width-only {
    &.school__item--frontend {
      background: @frontend;
    }
    &.school__item--design {
      background: @design;
    }
    &.school__item--mobdev {
      background: @mobdev;
    }
    &.school__item--mobdev.school__item--frontend,
    &.school__item--mobdev.school__item--design,
    &.school__item--frontend.school__item--design,
    &.school__item--mobdev.school__item--design.school__item--frontend {
      background: @brown;
    }
  }
}

.school__header {
  margin-bottom: 15px;
  display: flex;
  @media @desktop-widths {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 10px;
    width: 10%;
  }
}

.school__streams {
  margin: 0;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-weight: 100;
  padding: 0 7px;
  border: 1px solid currentColor;
  border-radius: 2px;
  margin-right: 10px;
  @media @tablet-widths {
    font-size: 16px;
    line-height: 24px;
  }
  @media @desktop-widths {
    font-size: 18px;
    margin-bottom: 10px;
    &.school__streams--frontend {
      background: @frontend;
    }
    &.school__streams--design {
      background: @design;
    }
    &.school__streams--mobdev {
      background: @mobdev;
    }
  }
}

.school__lection {
  font-weight: bold;
  margin-bottom: 5px;
  @media @tablet-widths {
    font-size: 22px;
  }
  @media @desktop-widths {
    padding-right: 25px;
    width: 55%;
  }
}

.school__teacher {
  text-align: right;
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 15px;
  color: @white;
  flex-grow: 0;
  margin-left: auto;
  text-decoration-style: dashed;
  text-decoration-color: currentColor;

  @media @tablet-widths {
    font-size: 16px;
    padding-bottom: 3px;
  }
  @media @desktop-widths {
    color: @blueDark;
    margin-right: 20px;
    width: 15%;
    text-align: left;
  }
}

.school__wrap {
  font-size: 18px;
  font-weight: bold;
  @media @desktop-widths {
    font-weight: normal;
    width: 10%;
    padding-right: 10px;
  }
}

.school__location {
  @media @desktop-widths {
    width: 15%;
    padding-left: 10px;
  }
}
